.header {
  background-color: #041626;
  height: 100px;
  color: #38a640;

  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  justify-items: center;
}
.dropMenu {
  position: absolute;
  left: 0;
  top: 100px;
  background-color: #041626;
  width: 150px;
  align-items: center;
  border-color: #38a640;
  border-width: 3px;
  border-style: solid;

  display: grid;
  grid-template-rows: repeat(3, 100px);
}
.dropMenu button {
  background-color: #041626;
  color: #38a640;
  height: 70%;
  text-align: left;
  font-size: 1.5rem;
  border-style: none;
  padding-left: 10px;
}
.dropMenu button:hover {
  text-shadow: 0px 0px 5px #38a640;
}
