.info {
  color: #FAF5E9;
  background-color: #009b4ebd;
  padding-left: 5px;
  max-width: 400px;
  min-width: 300px;
  margin-left: 10%;
  margin-top: 7%;
  border-radius: 15px;

  display: grid;
  grid-template-rows: 40px 60px 30px;
  align-items: center;
}
  .info h1{
    color: #FFCC00;
    text-decoration: underline  ;
  }
.git {
  color: #FFCC00;
}
.git:hover {
  text-shadow: 0px 0px 5px #E0E1DD;
}
