.proyectos{
    background-color: #1B263B;
    color: #E0E1DD;
    max-width: 250px;
    min-width: 200px;
    margin-top: 5%;
    margin-left: 50%;

    display: grid;
    grid-template-rows:repeat(5, 40px);
    justify-items: center;
    align-items: center;

}